    #background {
        background-image: url('road.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
    }

    .demo-wrap {
        overflow: hidden;
        position: relative;
    }
      
    .demo-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
      
    .demo-content {
        position: relative;
        font-size: 3em;
        color: #fff;
    }


    /*Table*/
    table {
        width: 100%;
        border: 0px; 
    }

    table th {
        font-weight: bold;
        text-transform: uppercase;
    }

    table th, td {
        background-color: rgba(255,255,255,0.2);
        color: #fff;
    }

    table caption {
        font-size: 1.5em;
    }

    /* Hide table header. */ 
    table thead {
        display:none ;
    }


    table tr { 
        margin-bottom: 1em;

	}

    table td {
        text-align: right; 
        border-bottom: 0px;
    }

    table td, table tr {
        display: block;   
		border: 1px solid #fff; 
    }

    
    table td::before {
        font-weight: bold;
        float: left;
        text-transform: uppercase;
    }

    /*English version*/
    #engVer td:nth-of-type(1):before { 
        content: "Title";
    }
    #engVer td:nth-of-type(2):before { 
        content: "District";
    }
    #engVer td:nth-of-type(3):before { 
        content: "Route";
    }
    #engVer td:nth-of-type(4):before { 
        content: "HowToAccess";
    }
    #engVer td:nth-of-type(5):before { 
        content: "Latitude";
    }
    #engVer td:nth-of-type(6):before { 
        content: "Longitude";
    }

    /*Chinese version*/
    #chiVer td:nth-of-type(1):before { 
        content: "路徑";
    }
    #chiVer td:nth-of-type(2):before { 
        content: "分區";
    }
    #chiVer td:nth-of-type(3):before { 
        content: "路徑資料";
    }
    #chiVer td:nth-of-type(4):before { 
        content: "前往途徑";
    }
    #chiVer td:nth-of-type(5):before { 
        content: "緯度";
    }
    #chiVer td:nth-of-type(6):before { 
        content: "經度";
    }



