    #background {
        background-image: url('road.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
    }
    /*botton*/

    .btn {
        align-items: center;
        appearance: none;
        background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
        border: 0;
        border-radius: 6px;
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "JetBrains Mono",monospace;
        height: 48px;
        justify-content: center;
        line-height: 1;
        list-style: none;
        overflow: hidden;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;
        text-align: left;
        text-decoration: none;
        transition: box-shadow .15s,transform .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        font-size: 18px;
      }
      
      .btn:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
      }
    /*banner*/
    .demo-wrap {
        overflow: hidden;
        position: relative;
    }
      
    .demo-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
      
    #toptitle {
        position: relative;
        font-size: 150%;
        text-align: center;
        color: #fff;
    }

    #changeLang {
        position: relative;
        text-align: left;
    }

    /*Table*/
    table {
        width: 100%;
        border: 0px; 
    }

    table th {
        font-weight: bold;
        text-transform: uppercase;
    }

    table th, td {
        background-color: rgba(255,255,255,0.4);
        color: #fff;
    }

    table caption {
        font-size: 1.5em;
    }

    /* Hide table header. */ 
    table thead {
        display:none ;
    }


    table tr { 
        margin-bottom: 1em;

	}

    table td {
        text-align: right; 
        border-bottom: 0px;
    }

    table td, table tr {
        display: block;   
		border: 1px solid #fff; 
    }

    
    table td::before {
        font-weight: bold;
        float: left;
        text-transform: uppercase;
    }

    /*English version*/
    #engVer td:nth-of-type(1):before { 
        content: "Title";
    }
    #engVer td:nth-of-type(2):before { 
        content: "District";
    }
    #engVer td:nth-of-type(3):before { 
        content: "Route";
    }
    #engVer td:nth-of-type(4):before { 
        content: "HowToAccess";
    }
    #engVer td:nth-of-type(5):before { 
        content: "Latitude";
    }
    #engVer td:nth-of-type(6):before { 
        content: "Longitude";
    }

    /*Chinese version*/
    #chiVer td:nth-of-type(1):before { 
        content: "路徑";
    }
    #chiVer td:nth-of-type(2):before { 
        content: "分區";
    }
    #chiVer td:nth-of-type(3):before { 
        content: "路徑資料";
    }
    #chiVer td:nth-of-type(4):before { 
        content: "前往途徑";
    }
    #chiVer td:nth-of-type(5):before { 
        content: "緯度";
    }
    #chiVer td:nth-of-type(6):before { 
        content: "經度";
    }



